<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h5>Update Extension Start Date</h5>
	</div>

	<div class="modal-body">
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<fieldset>
				<div fxLayout="row wrap" fxLayoutAlign="space-between">
					<div fxFlex="100%" style="margin-bottom: 10px">
						Current start date: <span style="font-weight: bold">{{ data?.lesson?.date }}</span>
					</div>
					<div fxFlex="100%" class="form-group">
						<label for="start_date">Starting from</label>
						<div class="input-group">
							<input
								class="form-control datepicker"
								id="start_date"
								placeholder="yyyy-mm-dd"
								formControlName="start_date"
								ngbDatepicker
								#d="ngbDatepicker"
								[class.is-invalid]="
									!form.get('start_date').valid && (form.get('start_date').touched || submitted)
								"
								[minDate]="datepickerMinDate"
							/>
							<div class="input-group-append">
								<button
									class="btn btn-outline-secondary"
									style="margin: 0"
									(click)="d.toggle()"
									type="button"
									fxLayoutAlign="center center"
								>
									<i class="nc-icon nc-calendar-60"></i>
								</button>
							</div>
						</div>
						<div class="invalid-feedback">Start Date is Required</div>
					</div>
				</div>
			</fieldset>

			<div class="button-container" fxLayoutAlign="center">
				<button type="submit" class="btn">Update</button>
			</div>
		</form>
	</div>
</div>
