<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h6>Purchase D-Points</h6>
    </div>

    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="submit()">

            <fieldset>
                <div style="margin-bottom: 20px;" fxFlex="100%" class="form-group">
                    <label class="title" for="branch_id">Branch</label>
                    <input type="text" id="branch_id" class="form-control" [value]="branch?.name" disabled required />
                </div>
                <div style="margin-bottom: 20px;" fxFlex="100%" class="form-group">
                    <label class="title" for="dpoint_price_id">Points Purchase</label>
                    <select class="form-control" id="dpoint_price_id" formControlName="dpoint_price_id">
                        <option value="0">Select Amount of Points</option>
                        <option *ngFor="let p of pointList" [value]="p.id">
                            {{p.title}}
                        </option>
                    </select>
                </div>
            </fieldset>
        </form>

    </div>

    <div class="modal-footer" fxLayoutAlign="center">
        <button class="btn btn-primary my-4" (click)="submit()">
            <span *ngIf="!isLoading">Submit</span>
            <div *ngIf="isLoading" style="width: 1rem; height: 1rem;" class="spinner-border text-light mx-4" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </button>
    </div>
</div>