<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5>Extension Confirmation</h5>
    </div>
    <div class="modal-body">
        Are you sure you about extending {{data.student.name}}'s for 3 Months?
        <p style="margin-top: 15px">Current term ending on: <span style="font-weight: bold">{{lastClassLesson}}</span></p>
        <form [formGroup]="form" style="margin-top: 15px">
            <fieldset>
                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                    <div fxFlex="77%" class="form-group">
                        <label for="start_date">Starting from</label>
                        <div class="input-group">
                            <input class="form-control datepicker" id="start_date" placeholder="yyyy-mm-dd" formControlName="start_date"
                                ngbDatepicker #d="ngbDatepicker" [minDate]="datepickerMinDate" [class.is-invalid]="!form.get('start_date').valid &&
                                        (form.get('start_date').touched || submitted)">
                            <div class="input-group-append">
                            <button class="btn btn-outline-secondary" style="margin: 0" (click)="d.toggle()" type="button"
                                    fxLayoutAlign="center center">
                                <i class="nc-icon nc-calendar-60"></i>
                            </button>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            Start Date is Required
                        </div>
                    </div>
                    <div fxFlex="77%" class="form-group">
                        <label for="class_id">Class</label>
                        <select id="class_id" class="form-control" formControlName="class_id">
                            <option value="">Select Class</option>
                            <option *ngFor="let slot of (classes$ | async)" [value]="slot.id">{{slot.name}}</option>
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer" fxLayoutAlign="center">
        <button class="btn btn-light" (click)="activeModal.dismiss()">Cancel</button>
        <button class="btn btn-primary" (click)="extend()">Yes</button>
    </div>
</div>

