.event-description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-group-append button {
    width: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
