<div class="main-content">

    <div id="table-scroll" class="table-scroll">
        <div class="table-wrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>DO Number</th>
                        <th>Branch</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let do of dos?.data">
                        <td class="do-no">
                            {{do.number}}
                        </td>
                        <td class="branch">
                            {{do.branch.name}}
                        </td>
                        <td class="status">
                            {{do.status}}
                        </td>
                        <td>
                            <button class="btn btn-success" (click)="onShip(do.id)"
                            *ngIf="(cred?.role === 'principal' || cred?.role === 'manager')"
                            [disabled]="do.status === 'Received'">
                                Received
                            </button>
                            <a [href]="do.pdf" target="_blank">
                                <button class="btn btn-primary">
                                    Print
                                </button>
                            </a>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="pages.length && (cred.role === 'superadmin' || cred.role === 'admin') " style="display: flex; justify-content: flex-end; margin-top: 20px;">
        <nav>
            <ul class="pagination">
                <li (click)="paginationClicked('prev')" class="page-item">
                <a class="page-link" href="javascript:;">Previous</a>
                </li>
                
                <li *ngFor="let page of pages" (click)="paginationClicked(page)" class="page-item" [class.active]="page.is_active">
                <a class="page-link" href="javascript:;">{{page.number}}</a>
                </li>
    
                <li (click)="paginationClicked('next')" class="page-item">
                <a class="page-link" href="javascript:;">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>