<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5>Drop Out Confirmation</h5>
    </div>
    <div class="modal-body">
        Are you sure you want to drop out {{data.enrolment.name}}?
    </div>
    <div class="modal-footer" fxLayoutAlign="center">
        <button class="btn btn-light" (click)="activeModal.dismiss()">Cancel</button>
        <button class="btn btn-primary" (click)="dropout()">Yes</button>
    </div>
</div>

